h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("./img/pattern.jpeg");
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

h2.brushes {
    background-color: mediumspringgreen;
}

h2.frames {
  background-color: lightcoral;
}

h2.paint {
  background-color: skyblue;
}

span {
  font-weight: bold;
  color: blue;
}

h1,h2,h3,p {
  font-family: Helvetica;
}
